<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ice Cream Order Form</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div th:if="${orderplaced}" class="alert alert-success" role="alert">
                <span>order placed successfully</span>
            </div>
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4>Ice Cream Order Form</h4>
                </div>
                <div class="card-body">

                    <form id="iceCreamForm" method="post" action="/placeorder">
                        <div class="form-group">
                            <label for="iceCreamFlavor">Select Ice Cream Flavor:</label>
                            <select class="form-control" id="iceCreamFlavor" name="iceCreamFlavor" default="select">
                                <option value="vanilla">Vanilla</option>
                                <option value="americanNuts">American Nuts</option>
                                <option value="afghanDryfruit">Afghan Dryfruit</option>
                                <option value="cookieCream">Cookie Cream</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Place Order</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>